/* Le doy propiedades a todas las cards de los productos */

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}

.main__products {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}